.Navbar {
  padding-left: 17vw;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  border-bottom: 1px solid;
  border-color: #1c2b2d;
  font-family: "Noto Sans", sans-serif;
}
.Navbar__Sidemenu {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
