.Navbar {
  padding-left: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f4f3f3;
  border-bottom: solid;
}
.Navbar__Sidemenu {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
