#game {
  width: 600px;
  height: 600px;

  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;

  position: absolute;
  display: block;
  background-color: white;
}

#grid {
  width: 378px;
  height: 375px;

  margin-left: 20px;
  margin-top: 50px;

  border: 3px solid #000000;

  border-collapse: collapse;
}

.cell input {
  display: inline-block;

  border: none;
  outline: none;
  background-color: transparent;
  width: 55px;
  height: 55px;

  text-align: center;
  font-size: 40px;
}
table {
  margin: 1em auto;
}

td {
  height: 40px;
  width: 40px;
  border: 1px solid;
  border-color: grey;
  text-align: center;
  font-size: 40px;
}
td:hover {
  background-color: #f8f1f1;
}
td:first-child {
  border-left: 2px solid;
}
td:nth-child(3n) {
  border-right: 2px solid;
}
tr:first-child {
  border-top: 2px solid;
}
tr:nth-child(3n) td {
  border-bottom: 2px solid;
}
