#game {
  width: 600px;
  height: 600px;

  margin-top: 20px;
  margin-bottom: 100px;

  position: absolute;
  display: block;
  background-color: white;
}
#grid {
  width: 378px;
  height: 375px;

  border: 3px solid #000000;

  border-collapse: collapse;
}
.Game {
  display: flex;
  justify-content: space-between;
  padding-left: 17vw;
  padding-right: 5vw;
}
.cell input {
  display: inline-block;

  border: none;
  outline: none;
  background-color: transparent;
  width: 55px;
  height: 55px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40px;
}
.optionMenu {
  width: 300px;
  margin-top: 50px;
}
.SudokuSideItems {
  margin-left: 10px;
  margin-right: auto;
  height: 68vh;
  margin-top: 6vh;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.SudokuGrid__difficulty {
  margin-top: 30px;
}
.Timer {
  margin-right: auto;
  margin-top: 5vh;
}
table {
  margin: 1em auto;
}

td {
  border: 1px solid;
  border-color: grey;
  text-align: center;
  font-size: 40px;
}
td:hover {
  background-color: #f8f1f1;
}
td:first-child {
  border-left: 2px solid;
}
td:nth-child(3n) {
  border-right: 2px solid;
}
tr:first-child {
  border-top: 2px solid;
}
tr:nth-child(3n) td {
  border-bottom: 2px solid;
}
