@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
.app {
  border: 2px solid;
  border-radius: 20px;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #eceff1;
  color: #010b40;
}
h1 {
  margin-right: 2px;
}

h3 {
  color: white;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

p {
  font-size: 28px;
}

.stopwatch-card {
  text-align: center;
  background-color: transparent;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  width: 292px;
  padding-left: 10px;
  height: 130px;
  top: 110px;
  left: 48%;
}

button {
  outline: none;
  background: transparent;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 7px;
  color: blue;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
}
